@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');


.font-1 {
    font-family: 'Josefin Sans', sans-serif;
}

.font-2 {
    font-family: 'Alata', sans-serif;
}

$primary-color: hsl(0, 0%, 100%);
$secondary-color: hsl(0,0%,0%);
$dark-one: hsl(0, 0%, 55%);
$dark-two: hsl(0, 0%, 41%);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 10px;
    overflow: auto;
}
